<configform synchronous="true" version="1.3">
    <block title="variables" label="Database Adapter Input, Output, and Local Variables" hidden="false">
        <param name="orderid" access="I" label="" type="java.lang.Integer" value=""/>
        <param name="vehengine" access="O" label="" type="java.lang.String" value=""/>
        <param name="vehwindows" access="O" label="" type="java.lang.String" value=""/>
        <param name="vehicleseat" access="O" label="" type="java.lang.String" value=""/>
        <param name="vehinterior" access="O" label="" type="java.lang.String" value=""/>
        <param name="vehexterior" access="O" label="" type="java.lang.String" value=""/>
        <param name="vehbrand" access="O" label="" type="java.lang.String" value=""/>
        <param name="vehmodel" access="O" label="" type="java.lang.String" value=""/>
        <param name="vehwheelopt" access="O" label="" type="java.lang.String" value=""/>
        <param name="vehaccopt" access="O" label="" type="java.lang.String" value=""/>
    </block>
    <block title="statements" label="SQL Statement Definitions" hidden="true">
        <param name="sql.count" access="HIDDEN" label="" type="java.lang.Integer" value="1"/>
        <param name="sql0.name" access="HIDDEN" label="" type="java.lang.String" value="vehicleInfo"/>
        <param name="sql0.noprepared" access="HIDDEN" label="" type="java.lang.String" value="false"/>
        <param name="sql0.db" access="HIDDEN" label="" type="java.lang.String" value="sbmdb"/>
        <param name="sql0.type" access="HIDDEN" label="" type="java.lang.String" value="select"/>
        <param name="sql0.sql" access="HIDDEN" label="" type="java.lang.String" value="select VEHICLEBRAND, VEHICLEMODEL, VEHICLEYEAR, VEHICLEWINDOWS, VEHICLEINSTOCK, VEHICLEENGINE, SALESPERSON, VEHICLESEAT, VEHICLEINTERIOR,  VEHICLEWHEELOPTIONS, VEHICLEACCESSORIESOPTIONS, VEHICLEEXTERIOR from AE_TF_REL_V3 Where PROCESS_INSTANCE_ID = ?"/>
        <param name="sql0.advancedsql" access="HIDDEN" label="" type="java.lang.String" value="select VEHICLEBRAND, VEHICLEMODEL, VEHICLEYEAR, VEHICLEWINDOWS, VEHICLEINSTOCK, VEHICLEENGINE, SALESPERSON, VEHICLESEAT, VEHICLEINTERIOR,  VEHICLEWHEELOPTIONS, VEHICLEACCESSORIESOPTIONS, VEHICLEEXTERIOR from AE_TF_REL_V3 Where PROCESS_INSTANCE_ID = @orderid"/>
        <param name="sql0.advanced" access="HIDDEN" label="" type="java.lang.String" value="true"/>
        <param name="sql0.table.count" access="HIDDEN" label="" type="java.lang.Integer" value="1"/>
        <param name="sql0.table0" access="HIDDEN" label="" type="java.lang.String" value="AE_TF_V2"/>
        <param name="sql0.column.count" access="HIDDEN" label="" type="java.lang.Integer" value="8"/>
        <param name="sql0.column0.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEYEAR"/>
        <param name="sql0.column0.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.column0.table" access="HIDDEN" label="" type="java.lang.String" value="AE_TF_V2"/>
        <param name="sql0.column1.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEWINDOWS"/>
        <param name="sql0.column1.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.column1.table" access="HIDDEN" label="" type="java.lang.String" value="AE_TF_V2"/>
        <param name="sql0.column2.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEINSTOCK"/>
        <param name="sql0.column2.type" access="HIDDEN" label="" type="java.lang.String" value="NUMBER"/>
        <param name="sql0.column2.table" access="HIDDEN" label="" type="java.lang.String" value="AE_TF_V2"/>
        <param name="sql0.column3.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEENGINE"/>
        <param name="sql0.column3.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.column3.table" access="HIDDEN" label="" type="java.lang.String" value="AE_TF_V2"/>
        <param name="sql0.column4.name" access="HIDDEN" label="" type="java.lang.String" value="SALESPERSON"/>
        <param name="sql0.column4.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.column4.table" access="HIDDEN" label="" type="java.lang.String" value="AE_TF_V2"/>
        <param name="sql0.column5.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLESEAT"/>
        <param name="sql0.column5.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.column5.table" access="HIDDEN" label="" type="java.lang.String" value="AE_TF_V2"/>
        <param name="sql0.column6.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEINTERIOR"/>
        <param name="sql0.column6.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.column6.table" access="HIDDEN" label="" type="java.lang.String" value="AE_TF_V2"/>
        <param name="sql0.column7.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEEXTERIOR"/>
        <param name="sql0.column7.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.column7.table" access="HIDDEN" label="" type="java.lang.String" value="AE_TF_V2"/>
        <param name="sql0.condition" access="HIDDEN" label="" type="java.lang.String" value="Where AE_TF_V2.PROCESS_TEMPLATE_ID = @orderid"/>
        <param name="sql0.in.count" access="HIDDEN" label="" type="java.lang.Integer" value="1"/>
        <param name="sql0.in0.name" access="HIDDEN" label="" type="java.lang.String" value="1"/>
        <param name="sql0.in0.type" access="HIDDEN" label="" type="java.lang.String" value="Integer"/>
        <param name="sql0.in0.var" access="HIDDEN" label="" type="java.lang.String" value="orderid"/>
        <param name="sql0.out.count" access="HIDDEN" label="" type="java.lang.Integer" value="12"/>
        <param name="sql0.out0.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEBRAND"/>
        <param name="sql0.out0.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out0.var" access="HIDDEN" label="" type="java.lang.String" value="vehbrand"/>
        <param name="var.vehbrand.default" access="HIDDEN" label="" type="java.lang.String" value=""/>
        <param name="sql0.out1.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEMODEL"/>
        <param name="sql0.out1.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out1.var" access="HIDDEN" label="" type="java.lang.String" value="vehmodel"/>
        <param name="var.vehmodel.default" access="HIDDEN" label="" type="java.lang.String" value=""/>
        <param name="sql0.out2.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEYEAR"/>
        <param name="sql0.out2.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out3.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEWINDOWS"/>
        <param name="sql0.out3.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out3.var" access="HIDDEN" label="" type="java.lang.String" value="vehwindows"/>
        <param name="var.vehwindows.default" access="HIDDEN" label="" type="java.lang.String" value=""/>
        <param name="sql0.out4.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEINSTOCK"/>
        <param name="sql0.out4.type" access="HIDDEN" label="" type="java.lang.String" value="NUMBER"/>
        <param name="sql0.out5.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEENGINE"/>
        <param name="sql0.out5.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out5.var" access="HIDDEN" label="" type="java.lang.String" value="vehengine"/>
        <param name="var.vehengine.default" access="HIDDEN" label="" type="java.lang.String" value=""/>
        <param name="sql0.out6.name" access="HIDDEN" label="" type="java.lang.String" value="SALESPERSON"/>
        <param name="sql0.out6.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out7.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLESEAT"/>
        <param name="sql0.out7.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out7.var" access="HIDDEN" label="" type="java.lang.String" value="vehicleseat"/>
        <param name="var.vehicleseat.default" access="HIDDEN" label="" type="java.lang.String" value=""/>
        <param name="sql0.out8.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEINTERIOR"/>
        <param name="sql0.out8.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out8.var" access="HIDDEN" label="" type="java.lang.String" value="vehinterior"/>
        <param name="var.vehinterior.default" access="HIDDEN" label="" type="java.lang.String" value=""/>
        <param name="sql0.out9.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEWHEELOPTIONS"/>
        <param name="sql0.out9.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out9.var" access="HIDDEN" label="" type="java.lang.String" value="vehwheelopt"/>
        <param name="var.vehwheelopt.default" access="HIDDEN" label="" type="java.lang.String" value=""/>
        <param name="sql0.out10.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEACCESSORIESOPTIONS"/>
        <param name="sql0.out10.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out10.var" access="HIDDEN" label="" type="java.lang.String" value="vehaccopt"/>
        <param name="var.vehaccopt.default" access="HIDDEN" label="" type="java.lang.String" value=""/>
        <param name="sql0.out11.name" access="HIDDEN" label="" type="java.lang.String" value="VEHICLEEXTERIOR"/>
        <param name="sql0.out11.type" access="HIDDEN" label="" type="java.lang.String" value="VARCHAR2"/>
        <param name="sql0.out11.var" access="HIDDEN" label="" type="java.lang.String" value="vehexterior"/>
        <param name="var.vehexterior.default" access="HIDDEN" label="" type="java.lang.String" value=""/>
        <param name="sql0.out.maptype" access="HIDDEN" label="" type="java.lang.String" value="SR"/>
    </block>
</configform>
