<configform synchronous="true" version="1.3">
    <block title="Configuration" label="fileadapter:config.label.0" hidden="false">
        <param name="MODE" access="HIDDEN" label="fileadapter:config.label.2" type="java.lang.Integer" value="1"/>
        <param name="FILENAME" access="I" label="fileadapter:config.label.3" type="java.lang.String" value="" mandatory="true"/>
        <param name="PATHPREFIX" access="I" label="fileadapter:config.label.4" type="java.lang.String" value=""/>
        <param name="DATAFORMAT" access="HIDDEN" label="fileadapter:config.label.5" type="java.lang.String" value="XML"/>
        <param name="FORMATCONFIG" access="HIDDEN" label="fileadapter:config.label.6" type="java.lang.String">
<config>
  <version>2</version>
  <templatefile>C:\\devarea\\views\\pjudge_AUTOEDGE20\\vobs_autoedge\\autoedge\\dealer\\src\\sonicesb\\Sample Data\\vendor01-1car.xml</templatefile>
  <template>
<DOC856 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="sonicfs:///Resources/AutoEdge/xsd/vendorasn.xsd">
  <Vendor>Vendor01</Vendor>
  <Order>
    <OrderNum>123</OrderNum>
    <CustNum>1123</CustNum>
    <ShipperID>XXSWED123</ShipperID>
    <ShipDate>20061101</ShipDate>
    <DeliverDate>20061107</DeliverDate>
    <Unit>
      <LineNo>1</LineNo>
      <ID>113</ID>
      <Make>Toyola</Make>
      <Model>Crown</Model>
      <Style>Sedan</Style>
      <Color>Blue</Color>
      <Engine>1.6</Engine>
      <Fuel>Diesel</Fuel>
      <VIN>uIUm2HjU7aEek8Y5crJA</VIN>
    </Unit>
  </Order>
</DOC856>
  </template>
  <fields>
    <field name="xmlOrderNum" type="String" xpath="/DOC856/Order/OrderNum/text()"/>
  </fields>
  <namespaceaware>true</namespaceaware>
  <namespacemap>
  </namespacemap>
</config>
</param>
    </block>
    <block title="Data" label="fileadapter:config.label.1" hidden="false">
        <param name="PARAM.xmlOrderNum" access="I" label="xmlOrderNum" type="java.lang.String" value="" mandatory="false"/>
    </block>
</configform>
