<configform synchronous="true" version="1.3">
    <block title="Message" label="emailadapter:config.label.0" hidden="false">
        <param name="SENDER" access="I" label="emailadapter:config.label.3" type="java.lang.String" value="" mandatory="true"/>
        <param name="RECIPIENTS" access="I" label="emailadapter:config.label.4" type="java.lang.Object" value="" mandatory="true"/>
        <param name="CC" access="I" label="emailadapter:config.label.5" type="java.lang.Object" value="" mandatory="false"/>
        <param name="BCC" access="I" label="emailadapter:config.label.6" type="java.lang.Object" value="" mandatory="false"/>
        <param name="SUBJECT" access="PRESET" label="emailadapter:config.label.9" type="java.lang.Object" value="Order feedback" mandatory="true"/>
        <param name="PART_COUNT" access="HIDDEN" label="emailadapter:config.label.12" type="java.lang.Integer" value="1" mandatory="true"/>
    </block>
    <block title="Part 1: Velocity Template" label="emailadapter:config.label.1:1:Velocity Template" hidden="false">
        <param name="PLUGIN.1.NAME" access="HIDDEN" label="Plugin name" type="java.lang.String" value="Velocity Template"/>
        <param name="PLUGIN.1.CONF" access="HIDDEN" label="Plugin configuration" type="java.lang.String" value="customername%2Cdealeremail%2Cdealerphone%2CrejectionReason%2CorderNum%2Cbrand%2CvehModel%2Cdealername%0AHello+%24%7Bcustomername%7D%2C%0A%0AUnfortunately%2C+we+have+found+a+problem+with+your+order.+Please+contact+us+via+email+at+%24%7Bdealeremail%7D+or+call+us+at+%24%7Bdealerphone%7D%2C+or+submit+%0Aa+new+order+via+the+website.%0AReason%3A%0A++++%24%7BrejectionReason%7D%0A%0AHere+is+your+current+order+summary%3A%0A++++Order+number%3A+%24%7BorderNum%7D+%0A++++Brand%3A+%24%7Bbrand%7D%0A++++Model%3A+%24%7BvehModel%7D%0A%0A%0ARegards%2C%0A%24%7Bdealername%7D%0A"/>
        <param name="PLUGIN.1.MIME" access="HIDDEN" label="Mime type" type="java.lang.String" value="text/plain"/>
        <param name="PLUGIN.1.IN.customername" access="I" label="fileadapter:plugin.velocity.label.4:customername" type="java.lang.Object" value="" mandatory="false"/>
        <param name="PLUGIN.1.IN.dealeremail" access="I" label="fileadapter:plugin.velocity.label.4:dealeremail" type="java.lang.Object" value="" mandatory="false"/>
        <param name="PLUGIN.1.IN.dealerphone" access="I" label="fileadapter:plugin.velocity.label.4:dealerphone" type="java.lang.Object" value="" mandatory="false"/>
        <param name="PLUGIN.1.IN.rejectionReason" access="I" label="fileadapter:plugin.velocity.label.4:rejectionReason" type="java.lang.Object" value="" mandatory="false"/>
        <param name="PLUGIN.1.IN.orderNum" access="I" label="fileadapter:plugin.velocity.label.4:orderNum" type="java.lang.Object" value="" mandatory="false"/>
        <param name="PLUGIN.1.IN.brand" access="I" label="fileadapter:plugin.velocity.label.4:brand" type="java.lang.Object" value="" mandatory="false"/>
        <param name="PLUGIN.1.IN.vehModel" access="I" label="fileadapter:plugin.velocity.label.4:vehModel" type="java.lang.Object" value="" mandatory="false"/>
        <param name="PLUGIN.1.IN.dealername" access="I" label="fileadapter:plugin.velocity.label.4:dealername" type="java.lang.Object" value="" mandatory="false"/>
    </block>
    <block title="Configuration" label="emailadapter:config.label.2" hidden="false">
        <param name="PROPERTY.allow.null.cc" access="HIDDEN" label="emailadapter:config.label.13" type="java.lang.String" value="true"/>
        <param name="PROPERTY.mail.smtp.port" access="HIDDEN" label="emailadapter:config.label.13" type="java.lang.String" value="25"/>
        <param name="PROPERTY.allow.null.bcc" access="HIDDEN" label="emailadapter:config.label.13" type="java.lang.String" value="true"/>
        <param name="PROPERTY.mail.transport.protocol" access="HIDDEN" label="emailadapter:config.label.13" type="java.lang.String" value="smtp"/>
        <param name="PROPERTY.mail.smtp.host" access="HIDDEN" label="emailadapter:config.label.13" type="java.lang.String" value="localhost"/>
        <param name="AUTH_USER" access="HIDDEN" label="emailadapter:config.label.7" type="java.lang.String" value="" mandatory="false"/>
        <param name="AUTH_PASSWORD" access="HIDDEN" label="emailadapter:config.label.8" type="java.lang.String" value="" mandatory="false"/>
    </block>
</configform>
