<configform synchronous="true" version="1.3">
    <block title="Inputs" label="wsadapter:Config.label.inputs" hidden="false">
        <param name="SESSION_TOKEN_SUPPORT" access="HIDDEN" label="SESSION_TOKEN_SUPPORT" type="java.lang.String" value="false"/>
        <param name="WSCONFIG" access="HIDDEN" label="WSCONFIG" type="java.lang.String">
<java version="1.6.0_20" class="java.beans.XMLDecoder"> 
 <object class="com.savvion.sbm.adapters.webservice.WSConfig"> 
  <void property="callInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.WSCallInfo"> 
    <void property="encodingType"> 
     <string>LITERAL</string> 
    </void> 
   </object> 
  </void> 
  <void property="operationInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.OperationInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>ListBrandData</string> 
      </void> 
      <void property="namesSpace"> 
       <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
      </void> 
     </object> 
    </void> 
    <void property="XMLPluginConfig"> 
     <string>&lt;config&gt;
  &lt;version&gt;2&lt;/version&gt;
  &lt;template&gt;
&lt;soapenv:Body xmlns:soapenv=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;
    &lt;ListBrandDataResponse xmlns=&quot;urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices&quot;&gt;
        &lt;result/&gt;
        &lt;pcDealerNameList&gt;[ { &quot;selected&quot;:true,&quot;value&quot;: &quot;none&quot;,&quot;label&quot;: &quot;Please select a dealer&quot;},{ &quot;selected&quot;:false,&quot;value&quot;: &quot;dealer02&quot;,&quot;label&quot;: &quot;Roth Brothers Corp. (Dealer #2)&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;HQ&quot;,&quot;label&quot;: &quot;AutoEdge HQ&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;dealer01&quot;,&quot;label&quot;: &quot;Stiller Motors Inc. (Dealer #1)&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;dealer03&quot;,&quot;label&quot;: &quot;Merriweather, Field &amp;amp; Snowe (Dealer #3)&quot; } ]&lt;/pcDealerNameList&gt;
        &lt;pcCompactModels&gt;[  ]&lt;/pcCompactModels&gt;
        &lt;pcTruckModels&gt;[ {&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024091544fa&quot;,&quot;label&quot;: &quot;SilverRider&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b02411c531fa&quot;,&quot;label&quot;: &quot;FJ-200&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0241cf241fa&quot;,&quot;label&quot;: &quot;Avalanche&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024357f2dfa&quot;,&quot;label&quot;: &quot;Tucoma&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024cd2831fa&quot;,&quot;label&quot;: &quot;FJ-100&quot; } ]&lt;/pcTruckModels&gt;
        &lt;pcSuvModels&gt;[ {&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0249dd529fa&quot;,&quot;label&quot;: &quot;CR-W&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024a32a43fa&quot;,&quot;label&quot;: &quot;Blazen&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024ad462cfa&quot;,&quot;label&quot;: &quot;RAD-4&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024d04a2afa&quot;,&quot;label&quot;: &quot;Odysseus&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024e3052ffa&quot;,&quot;label&quot;: &quot;Lumberjack&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024f1e22cfa&quot;,&quot;label&quot;: &quot;Lowlander&quot; } ]&lt;/pcSuvModels&gt;
        &lt;pcConvertibleModels&gt;[ {&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024f2c033fa&quot;,&quot;label&quot;: &quot;BM3&quot; } ]&lt;/pcConvertibleModels&gt;
        &lt;pcSedanModels&gt;[ {&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024325d34fa&quot;,&quot;label&quot;: &quot;Grandeur&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0245e3929fa&quot;,&quot;label&quot;: &quot;Accorn&quot; },{&quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0247ad12bfa&quot;,&quot;label&quot;: &quot;Crown&quot; } ]&lt;/pcSedanModels&gt;
        &lt;pcInteriorTrimMaterial&gt;[ { &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0244c1229fa&quot;,&quot;label&quot;: &quot;Plush-E-Comfort Microfiber&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0244d1229fa&quot;,&quot;label&quot;: &quot;Leather&quot; } ]&lt;/pcInteriorTrimMaterial&gt;
        &lt;pcInteriorTrimColour&gt;[ { &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0244e1229fa&quot;,&quot;label&quot;: &quot;Light Gray&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0244f1229fa&quot;,&quot;label&quot;: &quot;Dark Slate Gray&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024593929fa&quot;,&quot;label&quot;: &quot;Tan&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0245a3929fa&quot;,&quot;label&quot;: &quot;Charcoal&quot; } ]&lt;/pcInteriorTrimColour&gt;
        &lt;pcInteriorAccessories&gt;[ { &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0245b3929fa&quot;,&quot;label&quot;: &quot;Never-lost Navigation System&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0245c3929fa&quot;,&quot;label&quot;: &quot;Banshee Premium Sound System&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0245d3929fa&quot;,&quot;label&quot;: &quot;Bluetooth&quot; } ]&lt;/pcInteriorAccessories&gt;
        &lt;pcExteriorColour&gt;[ { &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b02438eb28fa&quot;,&quot;label&quot;: &quot;White&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b02439eb28fa&quot;,&quot;label&quot;: &quot;Light Steel Blue&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0243aeb28fa&quot;,&quot;label&quot;: &quot;Charcoal&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0243beb28fa&quot;,&quot;label&quot;: &quot;Dark Green&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0243ceb28fa&quot;,&quot;label&quot;: &quot;Champagne&quot; } ]&lt;/pcExteriorColour&gt;
        &lt;pcMoonroof&gt;[ { &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024481229fa&quot;,&quot;label&quot;: &quot;No moonroof&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b024491229fa&quot;,&quot;label&quot;: &quot;Standard moonroof&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0244a1229fa&quot;,&quot;label&quot;: &quot;Galaxy-View Moonroof&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0244b1229fa&quot;,&quot;label&quot;: &quot;Sunroof Only&quot; } ]&lt;/pcMoonroof&gt;
        &lt;pcWheels&gt;[ { &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0243deb28fa&quot;,&quot;label&quot;: &quot;Standard 14\&quot;&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0243eeb28fa&quot;,&quot;label&quot;: &quot;20 inch low-profile alloy&quot; },{ &quot;selected&quot;:false,&quot;value&quot;: &quot;fd16dc03-8bcb-9bb8-e011-b0243feb28fa&quot;,&quot;label&quot;: &quot;All-terrain off-road&quot; } ]&lt;/pcWheels&gt;
    &lt;/ListBrandDataResponse&gt;
&lt;/soapenv:Body&gt;
  &lt;/template&gt;
  &lt;fields&gt;
    &lt;field name=&quot;responseDealerNames&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcDealerNameList/text()&quot;/&gt;
    &lt;field name=&quot;responseCompact&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcCompactModels/text()&quot;/&gt;
    &lt;field name=&quot;responseTruck&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcTruckModels/text()&quot;/&gt;
    &lt;field name=&quot;responseSUV&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcSuvModels/text()&quot;/&gt;
    &lt;field name=&quot;responseConvertible&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcConvertibleModels/text()&quot;/&gt;
    &lt;field name=&quot;responseSedan&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcSedanModels/text()&quot;/&gt;
    &lt;field name=&quot;responseTrimMaterial&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcInteriorTrimMaterial/text()&quot;/&gt;
    &lt;field name=&quot;responseTrimColour&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcInteriorTrimColour/text()&quot;/&gt;
    &lt;field name=&quot;responseAccessories&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcInteriorAccessories/text()&quot;/&gt;
    &lt;field name=&quot;responseExtColour&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcExteriorColour/text()&quot;/&gt;
    &lt;field name=&quot;responseMoonroof&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcMoonroof/text()&quot;/&gt;
    &lt;field name=&quot;responseWheels&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:ListBrandDataResponse/ns1:pcWheels/text()&quot;/&gt;
  &lt;/fields&gt;
  &lt;namespaceaware&gt;true&lt;/namespaceaware&gt;
  &lt;namespacemap&gt;
    &lt;map name=&quot;ns1&quot; value=&quot;urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices&quot;/&gt;
    &lt;map name=&quot;soapenv&quot; value=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;/&gt;
  &lt;/namespacemap&gt;
&lt;/config&gt;
</string> 
    </void> 
    <void property="XMLPluginOutputParameters"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseDealerNames</string> 
       </void> 
       <void property="name"> 
        <string>responseDealerNames</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseCompact</string> 
       </void> 
       <void property="name"> 
        <string>responseCompact</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseTruck</string> 
       </void> 
       <void property="name"> 
        <string>responseTruck</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseSUV</string> 
       </void> 
       <void property="name"> 
        <string>responseSUV</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseConvertible</string> 
       </void> 
       <void property="name"> 
        <string>responseConvertible</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseSedan</string> 
       </void> 
       <void property="name"> 
        <string>responseSedan</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseTrimMaterial</string> 
       </void> 
       <void property="name"> 
        <string>responseTrimMaterial</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseTrimColour</string> 
       </void> 
       <void property="name"> 
        <string>responseTrimColour</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseAccessories</string> 
       </void> 
       <void property="name"> 
        <string>responseAccessories</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseExtColour</string> 
       </void> 
       <void property="name"> 
        <string>responseExtColour</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseMoonroof</string> 
       </void> 
       <void property="name"> 
        <string>responseMoonroof</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseWheels</string> 
       </void> 
       <void property="name"> 
        <string>responseWheels</string> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="complexTypeMapping"> 
     <void method="add"> 
      <object id="ComplexTypeMappingInfo0" class="com.savvion.sbm.adapters.webservice.ComplexTypeMappingInfo"> 
       <void property="QName"> 
        <object id="QualifiedName0" class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>AutoEdgeTheFactoryWebServicesFault</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>com.savvion.bo.FaultDetail</string> 
       </void> 
       <void property="mode"> 
        <int>5</int> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="faultXMLPluginConfig"> 
     <string>&lt;config&gt;
  &lt;version&gt;2&lt;/version&gt;
  &lt;template&gt;
&lt;soapenv:Body xmlns:soapenv=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;
    &lt;soapenv:Fault&gt;
        &lt;faultcode&gt;SOAP-ENV:Server&lt;/faultcode&gt;
        &lt;faultstring&gt;An error was detected while executing the Web Service request. (10893)&lt;/faultstring&gt;
        &lt;detail&gt;
            &lt;ns1:FaultDetail xmlns:ns1=&quot;urn:soap-fault:details&quot;&gt;
                &lt;errorMessage&gt;An error occurred connecting to the Web Service application. (10901)&lt;/errorMessage&gt;
                &lt;requestID&gt;454f8c3ff70d56f4:20432d28:12e9c02ba6e:-7fff#441&lt;/requestID&gt;
            &lt;/ns1:FaultDetail&gt;
        &lt;/detail&gt;
    &lt;/soapenv:Fault&gt;
&lt;/soapenv:Body&gt;
  &lt;/template&gt;
  &lt;fields&gt;
  &lt;/fields&gt;
  &lt;namespaceaware&gt;false&lt;/namespaceaware&gt;
  &lt;namespacemap&gt;
  &lt;/namespacemap&gt;
&lt;/config&gt;
</string> 
    </void> 
    <void property="faults"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Fault"> 
       <void property="QName"> 
        <object idref="QualifiedName0"/> 
       </void> 
       <void property="ctmi"> 
        <object idref="ComplexTypeMappingInfo0"/> 
       </void> 
       <void property="idealQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>FaultDetail</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>com.savvion.bo.FaultDetail</string> 
       </void> 
       <void property="label"> 
        <string>AutoEdgeTheFactoryWebServicesFault</string> 
       </void> 
       <void property="name"> 
        <string>AutoEdgeTheFactoryWebServicesFault</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>AutoEdgeTheFactoryWebServicesFault.0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>FaultDetail</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:soap-fault:details</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="inputParam"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcBrand</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcBrand</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>pcBrand</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcBrand.0_0</string> 
       </void> 
       <void property="value"> 
        <string>savvion::test</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcUserContextId</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcUserContextId</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>pcUserContextId</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcUserContextId.1_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="isWrapped"> 
     <boolean>true</boolean> 
    </void> 
    <void property="isXmlOutput"> 
     <boolean>true</boolean> 
    </void> 
    <void property="outputParam"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>result</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>result</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>result</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>result.2_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcDealerNameList</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcDealerNameList</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcDealerNameList</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcDealerNameList.2_1</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcDealerEmailList</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcDealerEmailList</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcDealerEmailList</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcDealerEmailList.2_2</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcCompactModels</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcCompactModels</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcCompactModels</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcCompactModels.2_3</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcTruckModels</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcTruckModels</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcTruckModels</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcTruckModels.2_4</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcSuvModels</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcSuvModels</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcSuvModels</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcSuvModels.2_5</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcConvertibleModels</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcConvertibleModels</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcConvertibleModels</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcConvertibleModels.2_6</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcSedanModels</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcSedanModels</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcSedanModels</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcSedanModels.2_7</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcInteriorTrimMaterial</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcInteriorTrimMaterial</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcInteriorTrimMaterial</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcInteriorTrimMaterial.2_8</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcInteriorTrimColour</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcInteriorTrimColour</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcInteriorTrimColour</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcInteriorTrimColour.2_9</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcInteriorAccessories</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcInteriorAccessories</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcInteriorAccessories</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcInteriorAccessories.2_10</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcExteriorColour</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcExteriorColour</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcExteriorColour</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcExteriorColour.2_11</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcMoonroof</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcMoonroof</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcMoonroof</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcMoonroof.2_12</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcWheels</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcWheels</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcWheels</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcWheels.2_13</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="style"> 
     <string>document</string> 
    </void> 
    <void property="use"> 
     <string>literal</string> 
    </void> 
    <void property="useXMLPlugin"> 
     <boolean>true</boolean> 
    </void> 
   </object> 
  </void> 
  <void property="otherSecConfigFile"> 
   <string></string> 
  </void> 
  <void property="password"> 
   <string></string> 
  </void> 
  <void property="portInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.PortInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>AutoEdgeTheFactoryWebServicesObj</string> 
      </void> 
      <void property="namesSpace"> 
       <string>urn:factory-autoedge-com</string> 
      </void> 
     </object> 
    </void> 
    <void property="description"> 
     <string></string> 
    </void> 
   </object> 
  </void> 
  <void property="runtimeSecurityType"> 
   <int>0</int> 
  </void> 
  <void property="samlTokenConfigFile"> 
   <string></string> 
  </void> 
  <void property="serviceInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.ServiceInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>AutoEdgeTheFactoryWebServicesService</string> 
      </void> 
      <void property="namesSpace"> 
       <string>urn:factory-autoedge-com</string> 
      </void> 
     </object> 
    </void> 
    <void property="description"> 
     <string>AutoEdgeTheFactoryWebServicesService</string> 
    </void> 
   </object> 
  </void> 
  <void property="soapActionURI"> 
   <string></string> 
  </void> 
  <void property="targetEndpointAddress"> 
   <string>http://localhost:8080/wsa/wsa1</string> 
  </void> 
  <void property="targetNameSpace"> 
   <string>urn:factory-autoedge-com</string> 
  </void> 
  <void property="userName"> 
   <string></string> 
  </void> 
  <void property="userNameTokenConfigFile"> 
   <string></string> 
  </void> 
  <void property="wsdlPassword"> 
   <string></string> 
  </void> 
  <void property="wsdlUrl"> 
   <string>http://localhost:8080/wsa/wsa1/wsdl?targetURI=urn:factory-autoedge-com</string> 
  </void> 
  <void property="wsdlUserName"> 
   <string></string> 
  </void> 
 </object> 
</java> 
</param>
        <param name="IN.pcBrand.0_0" access="I" label="pcBrand" type="java.lang.String" value="" mandatory="true"/>
        <param name="IN.pcUserContextId.1_0" access="I" label="pcUserContextId" type="java.lang.String" value="" mandatory="true"/>
    </block>
    <block title="Outputs" label="wsadapter:Config.label.outputs" hidden="false">
        <param name="OUT.responseDealerNames" access="O" label="responseDealerNames" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseCompact" access="O" label="responseCompact" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseTruck" access="O" label="responseTruck" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseSUV" access="O" label="responseSUV" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseConvertible" access="O" label="responseConvertible" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseSedan" access="O" label="responseSedan" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseTrimMaterial" access="O" label="responseTrimMaterial" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseTrimColour" access="O" label="responseTrimColour" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseAccessories" access="O" label="responseAccessories" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseExtColour" access="O" label="responseExtColour" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseMoonroof" access="O" label="responseMoonroof" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseWheels" access="O" label="responseWheels" type="java.lang.String" value="" mandatory="false"/>
    </block>
    <block title="Faults" label="wsadapter:Config.label.faults" hidden="false">
        <param name="FAULT.SoapFaultXML" access="O" label="SoapFaultXML" type="java.lang.String" value="" mandatory="true"/>
    </block>
    <block title="Advanced" label="wsadapter:Config.label.advanced" hidden="false">
        <param name="TARGET_EPA" access="I" label="wsadapter:Config.label.targetEndpointAddress" type="java.lang.String" value=""/>
    </block>
</configform>
