<configform synchronous="true" version="1.3">
    <block title="Inputs" label="wsadapter:Config.label.inputs" hidden="false">
        <param name="SESSION_TOKEN_SUPPORT" access="HIDDEN" label="SESSION_TOKEN_SUPPORT" type="java.lang.String" value="false"/>
        <param name="WSCONFIG" access="HIDDEN" label="WSCONFIG" type="java.lang.String">
<java version="1.6.0_20" class="java.beans.XMLDecoder"> 
 <object class="com.savvion.sbm.adapters.webservice.WSConfig"> 
  <void property="callInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.WSCallInfo"> 
    <void property="encodingType"> 
     <string>LITERAL</string> 
    </void> 
   </object> 
  </void> 
  <void property="operationInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.OperationInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>UserLogin</string> 
      </void> 
      <void property="namesSpace"> 
       <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
      </void> 
     </object> 
    </void> 
    <void property="XMLPluginConfig"> 
     <string>&lt;config&gt;
  &lt;version&gt;2&lt;/version&gt;
  &lt;template&gt;
&lt;soapenv:Body xmlns:soapenv=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&#13;
    &lt;UserLoginResponse xmlns=&quot;urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices&quot;&gt;&#13;
        &lt;result/&gt;&#13;
        &lt;pcUserContextId&gt;pcUserContextId&lt;/pcUserContextId&gt;&#13;
    &lt;/UserLoginResponse&gt;&#13;
&lt;/soapenv:Body&gt;
  &lt;/template&gt;
  &lt;fields&gt;
    &lt;field name=&quot;responseContextId&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:UserLoginResponse/ns1:pcUserContextId/text()&quot;/&gt;
  &lt;/fields&gt;
  &lt;namespaceaware&gt;true&lt;/namespaceaware&gt;
  &lt;namespacemap&gt;
    &lt;map name=&quot;ns1&quot; value=&quot;urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices&quot;/&gt;
    &lt;map name=&quot;soapenv&quot; value=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;/&gt;
  &lt;/namespacemap&gt;
&lt;/config&gt;
</string> 
    </void> 
    <void property="XMLPluginOutputParameters"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseContextId</string> 
       </void> 
       <void property="name"> 
        <string>responseContextId</string> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="complexTypeMapping"> 
     <void method="add"> 
      <object id="ComplexTypeMappingInfo0" class="com.savvion.sbm.adapters.webservice.ComplexTypeMappingInfo"> 
       <void property="QName"> 
        <object id="QualifiedName0" class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>AutoEdgeTheFactoryWebServicesFault</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>com.savvion.bo.FaultDetail</string> 
       </void> 
       <void property="mode"> 
        <int>5</int> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="faultXMLPluginConfig"> 
     <string>&lt;config&gt;
  &lt;version&gt;2&lt;/version&gt;
  &lt;template&gt;
&lt;soapenv:Body xmlns:soapenv=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;
    &lt;soapenv:Fault&gt;
        &lt;faultcode&gt;SOAP-ENV:Server&lt;/faultcode&gt;
        &lt;faultstring&gt;An error was detected while executing the Web Service request. (10893)&lt;/faultstring&gt;
        &lt;detail&gt;
            &lt;ns1:FaultDetail xmlns:ns1=&quot;urn:soap-fault:details&quot;&gt;
                &lt;errorMessage&gt;Invalid handle.  Not initialized or points to a deleted object. (3135)&lt;/errorMessage&gt;
                &lt;requestID&gt;454f8c3ff70d56f4:799af8f8:12ea5846de2:-7fff#28d&lt;/requestID&gt;
            &lt;/ns1:FaultDetail&gt;
        &lt;/detail&gt;
    &lt;/soapenv:Fault&gt;
&lt;/soapenv:Body&gt;
  &lt;/template&gt;
  &lt;fields&gt;
  &lt;/fields&gt;
  &lt;namespaceaware&gt;false&lt;/namespaceaware&gt;
  &lt;namespacemap&gt;
  &lt;/namespacemap&gt;
&lt;/config&gt;
</string> 
    </void> 
    <void property="faults"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Fault"> 
       <void property="QName"> 
        <object idref="QualifiedName0"/> 
       </void> 
       <void property="ctmi"> 
        <object idref="ComplexTypeMappingInfo0"/> 
       </void> 
       <void property="idealQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>FaultDetail</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>com.savvion.bo.FaultDetail</string> 
       </void> 
       <void property="label"> 
        <string>AutoEdgeTheFactoryWebServicesFault</string> 
       </void> 
       <void property="name"> 
        <string>AutoEdgeTheFactoryWebServicesFault</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>AutoEdgeTheFactoryWebServicesFault.0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>FaultDetail</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:soap-fault:details</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="inputParam"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcUserName</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcUserName</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>pcUserName</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcUserName.0_0</string> 
       </void> 
       <void property="value"> 
        <string>savvion::test</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcUserDomain</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcUserDomain</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>pcUserDomain</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcUserDomain.1_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcPassword</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcPassword</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>pcPassword</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcPassword.2_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="isWrapped"> 
     <boolean>true</boolean> 
    </void> 
    <void property="isXmlOutput"> 
     <boolean>true</boolean> 
    </void> 
    <void property="outputParam"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>result</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>result</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>result</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>result.3_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcUserContextId</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcUserContextId</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcUserContextId</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcUserContextId.3_1</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="style"> 
     <string>document</string> 
    </void> 
    <void property="use"> 
     <string>literal</string> 
    </void> 
    <void property="useXMLPlugin"> 
     <boolean>true</boolean> 
    </void> 
   </object> 
  </void> 
  <void property="otherSecConfigFile"> 
   <string></string> 
  </void> 
  <void property="password"> 
   <string></string> 
  </void> 
  <void property="portInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.PortInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>AutoEdgeTheFactoryWebServicesObj</string> 
      </void> 
      <void property="namesSpace"> 
       <string>urn:factory-autoedge-com</string> 
      </void> 
     </object> 
    </void> 
    <void property="description"> 
     <string></string> 
    </void> 
   </object> 
  </void> 
  <void property="runtimeSecurityType"> 
   <int>0</int> 
  </void> 
  <void property="samlTokenConfigFile"> 
   <string></string> 
  </void> 
  <void property="serviceInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.ServiceInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>AutoEdgeTheFactoryWebServicesService</string> 
      </void> 
      <void property="namesSpace"> 
       <string>urn:factory-autoedge-com</string> 
      </void> 
     </object> 
    </void> 
    <void property="description"> 
     <string>AutoEdgeTheFactoryWebServicesService</string> 
    </void> 
   </object> 
  </void> 
  <void property="soapActionURI"> 
   <string></string> 
  </void> 
  <void property="targetEndpointAddress"> 
   <string>http://localhost:8080/wsa/wsa1</string> 
  </void> 
  <void property="targetNameSpace"> 
   <string>urn:factory-autoedge-com</string> 
  </void> 
  <void property="userName"> 
   <string></string> 
  </void> 
  <void property="userNameTokenConfigFile"> 
   <string></string> 
  </void> 
  <void property="wsdlPassword"> 
   <string></string> 
  </void> 
  <void property="wsdlUrl"> 
   <string>http://localhost:8080/wsa/wsa1/wsdl?targetURI=urn:factory-autoedge-com</string> 
  </void> 
  <void property="wsdlUserName"> 
   <string></string> 
  </void> 
 </object> 
</java> 
</param>
        <param name="IN.pcUserName.0_0" access="I" label="pcUserName" type="java.lang.String" value="" mandatory="true"/>
        <param name="IN.pcUserDomain.1_0" access="I" label="pcUserDomain" type="java.lang.String" value="" mandatory="true"/>
        <param name="IN.pcPassword.2_0" access="I" label="pcPassword" type="java.lang.String" value="" mandatory="true"/>
    </block>
    <block title="Outputs" label="wsadapter:Config.label.outputs" hidden="false">
        <param name="OUT.responseContextId" access="O" label="responseContextId" type="java.lang.String" value="" mandatory="false"/>
    </block>
    <block title="Faults" label="wsadapter:Config.label.faults" hidden="false">
        <param name="FAULT.SoapFaultXML" access="O" label="SoapFaultXML" type="java.lang.String" value="" mandatory="true"/>
    </block>
    <block title="Advanced" label="wsadapter:Config.label.advanced" hidden="false">
        <param name="TARGET_EPA" access="I" label="wsadapter:Config.label.targetEndpointAddress" type="java.lang.String" value=""/>
    </block>
</configform>
