<configform synchronous="true" version="1.3">
    <block title="Inputs" label="wsadapter:Config.label.inputs" hidden="false">
        <param name="SESSION_TOKEN_SUPPORT" access="HIDDEN" label="SESSION_TOKEN_SUPPORT" type="java.lang.String" value="false"/>
        <param name="WSCONFIG" access="HIDDEN" label="WSCONFIG" type="java.lang.String">
<java version="1.6.0_20" class="java.beans.XMLDecoder"> 
 <object class="com.savvion.sbm.adapters.webservice.WSConfig"> 
  <void property="callInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.WSCallInfo"> 
    <void property="encodingType"> 
     <string>LITERAL</string> 
    </void> 
   </object> 
  </void> 
  <void property="operationInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.OperationInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>GetDealerDetail</string> 
      </void> 
      <void property="namesSpace"> 
       <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
      </void> 
     </object> 
    </void> 
    <void property="XMLPluginConfig"> 
     <string>&lt;config&gt;
  &lt;version&gt;2&lt;/version&gt;
  &lt;template&gt;
&lt;soapenv:Body xmlns:soapenv=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;&#13;
    &lt;GetDealerDetailResponse xmlns=&quot;urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices&quot;&gt;&#13;
        &lt;result xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:nil=&quot;true&quot;/&gt;&#13;
        &lt;pcDealerId&gt;pcDealerId&lt;/pcDealerId&gt;&#13;
        &lt;pcName&gt;pcName&lt;/pcName&gt;&#13;
        &lt;pcSalesEmail&gt;pcSalesEmail&lt;/pcSalesEmail&gt;&#13;
        &lt;pcInfoEmail&gt;pcInfoEmail&lt;/pcInfoEmail&gt;&#13;
        &lt;pcStreetAddress&gt;pcStreetAddress&lt;/pcStreetAddress&gt;&#13;
        &lt;pcPhoneNumber&gt;pcPhoneNumber&lt;/pcPhoneNumber&gt;&#13;
        &lt;pcSalesReps/&gt;&#13;
    &lt;/GetDealerDetailResponse&gt;&#13;
&lt;/soapenv:Body&gt;
  &lt;/template&gt;
  &lt;fields&gt;
    &lt;field name=&quot;responseDealerId&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:GetDealerDetailResponse/ns1:pcDealerId/text()&quot;/&gt;
    &lt;field name=&quot;responseName&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:GetDealerDetailResponse/ns1:pcName/text()&quot;/&gt;
    &lt;field name=&quot;responseSalesEmail&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:GetDealerDetailResponse/ns1:pcSalesEmail/text()&quot;/&gt;
    &lt;field name=&quot;responseInfoEmail&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:GetDealerDetailResponse/ns1:pcInfoEmail/text()&quot;/&gt;
    &lt;field name=&quot;responseStreetAddress&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:GetDealerDetailResponse/ns1:pcStreetAddress/text()&quot;/&gt;
    &lt;field name=&quot;responsePhoneNumber&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:GetDealerDetailResponse/ns1:pcPhoneNumber/text()&quot;/&gt;
    &lt;field name=&quot;responseSalesReps&quot; type=&quot;String&quot; xpath=&quot;/soapenv:Body/ns1:GetDealerDetailResponse/ns1:pcSalesReps/text()&quot;/&gt;
  &lt;/fields&gt;
  &lt;namespaceaware&gt;true&lt;/namespaceaware&gt;
  &lt;namespacemap&gt;
    &lt;map name=&quot;ns1&quot; value=&quot;urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices&quot;/&gt;
    &lt;map name=&quot;soapenv&quot; value=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;/&gt;
    &lt;map name=&quot;xsi&quot; value=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;/&gt;
  &lt;/namespacemap&gt;
&lt;/config&gt;
</string> 
    </void> 
    <void property="XMLPluginOutputParameters"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseDealerId</string> 
       </void> 
       <void property="name"> 
        <string>responseDealerId</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseName</string> 
       </void> 
       <void property="name"> 
        <string>responseName</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseSalesEmail</string> 
       </void> 
       <void property="name"> 
        <string>responseSalesEmail</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseInfoEmail</string> 
       </void> 
       <void property="name"> 
        <string>responseInfoEmail</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseStreetAddress</string> 
       </void> 
       <void property="name"> 
        <string>responseStreetAddress</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responsePhoneNumber</string> 
       </void> 
       <void property="name"> 
        <string>responsePhoneNumber</string> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.file.Parameter"> 
       <void property="description"> 
        <string>responseSalesReps</string> 
       </void> 
       <void property="name"> 
        <string>responseSalesReps</string> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="complexTypeMapping"> 
     <void method="add"> 
      <object id="ComplexTypeMappingInfo0" class="com.savvion.sbm.adapters.webservice.ComplexTypeMappingInfo"> 
       <void property="QName"> 
        <object id="QualifiedName0" class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>AutoEdgeTheFactoryWebServicesFault</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>com.savvion.bo.FaultDetail</string> 
       </void> 
       <void property="mode"> 
        <int>5</int> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="faults"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Fault"> 
       <void property="QName"> 
        <object idref="QualifiedName0"/> 
       </void> 
       <void property="ctmi"> 
        <object idref="ComplexTypeMappingInfo0"/> 
       </void> 
       <void property="idealQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>FaultDetail</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com</string> 
         </void> 
        </object> 
       </void> 
       <void property="javaClassName"> 
        <string>com.savvion.bo.FaultDetail</string> 
       </void> 
       <void property="label"> 
        <string>AutoEdgeTheFactoryWebServicesFault</string> 
       </void> 
       <void property="name"> 
        <string>AutoEdgeTheFactoryWebServicesFault</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>AutoEdgeTheFactoryWebServicesFault.0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>FaultDetail</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:soap-fault:details</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="inputParam"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcBrand</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcBrand</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>pcBrand</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcBrand.0_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcDealerCode</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcDealerCode</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>pcDealerCode</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcDealerCode.1_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcUserContextId</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcUserContextId</string> 
       </void> 
       <void property="mode"> 
        <int>1</int> 
       </void> 
       <void property="name"> 
        <string>pcUserContextId</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcUserContextId.2_0</string> 
       </void> 
       <void property="value"> 
        <string>savvion::test</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="isWrapped"> 
     <boolean>true</boolean> 
    </void> 
    <void property="isXmlOutput"> 
     <boolean>true</boolean> 
    </void> 
    <void property="outputParam"> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>result</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>result</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>result</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>result.3_0</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcDealerId</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcDealerId</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcDealerId</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcDealerId.3_1</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcName</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcName</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcName</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcName.3_2</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcSalesEmail</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcSalesEmail</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcSalesEmail</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcSalesEmail.3_3</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcInfoEmail</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcInfoEmail</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcInfoEmail</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcInfoEmail.3_4</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcStreetAddress</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcStreetAddress</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcStreetAddress</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcStreetAddress.3_5</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcPhoneNumber</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcPhoneNumber</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcPhoneNumber</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcPhoneNumber.3_6</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
     <void method="add"> 
      <object class="com.savvion.sbm.adapters.webservice.Param"> 
       <void property="QName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>pcSalesReps</string> 
         </void> 
         <void property="namesSpace"> 
          <string>urn:factory-autoedge-com:AutoEdgeTheFactoryWebServices</string> 
         </void> 
        </object> 
       </void> 
       <void property="isOmittable"> 
        <boolean>false</boolean> 
       </void> 
       <void property="javaClassName"> 
        <string>java.lang.String</string> 
       </void> 
       <void property="label"> 
        <string>pcSalesReps</string> 
       </void> 
       <void property="mode"> 
        <int>2</int> 
       </void> 
       <void property="name"> 
        <string>pcSalesReps</string> 
       </void> 
       <void property="uniqueIdentifier"> 
        <string>pcSalesReps.3_7</string> 
       </void> 
       <void property="xmlQName"> 
        <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
         <void property="localPart"> 
          <string>string</string> 
         </void> 
         <void property="namesSpace"> 
          <string>http://www.w3.org/2001/XMLSchema</string> 
         </void> 
        </object> 
       </void> 
      </object> 
     </void> 
    </void> 
    <void property="style"> 
     <string>document</string> 
    </void> 
    <void property="use"> 
     <string>literal</string> 
    </void> 
    <void property="useXMLPlugin"> 
     <boolean>true</boolean> 
    </void> 
   </object> 
  </void> 
  <void property="otherSecConfigFile"> 
   <string></string> 
  </void> 
  <void property="password"> 
   <string></string> 
  </void> 
  <void property="portInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.PortInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>AutoEdgeTheFactoryWebServicesObj</string> 
      </void> 
      <void property="namesSpace"> 
       <string>urn:factory-autoedge-com</string> 
      </void> 
     </object> 
    </void> 
    <void property="description"> 
     <string></string> 
    </void> 
   </object> 
  </void> 
  <void property="runtimeSecurityType"> 
   <int>0</int> 
  </void> 
  <void property="samlTokenConfigFile"> 
   <string></string> 
  </void> 
  <void property="serviceInfo"> 
   <object class="com.savvion.sbm.adapters.webservice.ServiceInfo"> 
    <void property="QName"> 
     <object class="com.savvion.sbm.adapters.webservice.QualifiedName"> 
      <void property="localPart"> 
       <string>AutoEdgeTheFactoryWebServicesService</string> 
      </void> 
      <void property="namesSpace"> 
       <string>urn:factory-autoedge-com</string> 
      </void> 
     </object> 
    </void> 
    <void property="description"> 
     <string>AutoEdgeTheFactoryWebServicesService</string> 
    </void> 
   </object> 
  </void> 
  <void property="soapActionURI"> 
   <string></string> 
  </void> 
  <void property="targetEndpointAddress"> 
   <string>http://localhost:8080/wsa/wsa1</string> 
  </void> 
  <void property="targetNameSpace"> 
   <string>urn:factory-autoedge-com</string> 
  </void> 
  <void property="userName"> 
   <string></string> 
  </void> 
  <void property="userNameTokenConfigFile"> 
   <string></string> 
  </void> 
  <void property="wsdlPassword"> 
   <string></string> 
  </void> 
  <void property="wsdlUrl"> 
   <string>http://localhost:8080/wsa/wsa1/wsdl?targetURI=urn:factory-autoedge-com</string> 
  </void> 
  <void property="wsdlUserName"> 
   <string></string> 
  </void> 
 </object> 
</java> 
</param>
        <param name="IN.pcBrand.0_0" access="I" label="pcBrand" type="java.lang.String" value="" mandatory="true"/>
        <param name="IN.pcDealerCode.1_0" access="I" label="pcDealerCode" type="java.lang.String" value="" mandatory="true"/>
        <param name="IN.pcUserContextId.2_0" access="I" label="pcUserContextId" type="java.lang.String" value="" mandatory="true"/>
    </block>
    <block title="Outputs" label="wsadapter:Config.label.outputs" hidden="false">
        <param name="OUT.responseDealerId" access="O" label="responseDealerId" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseName" access="O" label="responseName" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseSalesEmail" access="O" label="responseSalesEmail" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseInfoEmail" access="O" label="responseInfoEmail" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseStreetAddress" access="O" label="responseStreetAddress" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responsePhoneNumber" access="O" label="responsePhoneNumber" type="java.lang.String" value="" mandatory="false"/>
        <param name="OUT.responseSalesReps" access="O" label="responseSalesReps" type="java.lang.String" value="" mandatory="false"/>
    </block>
    <block title="Faults" label="wsadapter:Config.label.faults" hidden="false">
        <param name="FAULT.SoapFaultXML" access="O" label="SoapFaultXML" type="java.lang.String" value="" mandatory="true"/>
    </block>
    <block title="Advanced" label="wsadapter:Config.label.advanced" hidden="false">
        <param name="TARGET_EPA" access="I" label="wsadapter:Config.label.targetEndpointAddress" type="java.lang.String" value=""/>
    </block>
</configform>
